<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css"/>
<footer class="footer container-fluid">
    <div class="container extraSpace">
        <ul class="centerLinks socialIcons">
            <li style="display:inline-block">
                <a href="https://twitter.com/Lester_Sales42"><img src="/images/icons/twitter.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.instagram.com/__retsel42/?hl=en"><img src="/images/icons/instagram.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://github.com/dev-lester"><img src="/images/icons/github.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.linkedin.com/in/lester-sales/"><img src="/images/icons/linkedIn.png"></img></a>
            </li>
        </ul>
        <p class="footerText subP">Email me with any suggestions or just to talk!<br>lesters821@gmail.com</p>
    </div>
    <div class="bottomLinksDiv">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md">
                    <a href="/">Home</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md" >
                    <a href="/writings">Writings</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="/projects">Projects</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="/contact">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/scripts/footerShift.js" type="text/javascript"></script>
