<div class="wrapper">
    <div class="header">
        <img class="profile" src="images/profile.jpg" alt="Lester">
        <h1 class="profile-name">Lester Sales</h1>
        <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="/writings" class="pure-menu-link">Writing</a></li>
                <li class="pure-menu-item"><a href="/projects" class="pure-menu-link">Projects</a></li>
            </ul>
        </div>
    </div>
    