<div class="wrapper">
    <div class="header"> 
        <% if (user) { %>
            <div class="logout">
                <ul class="login-list">
                    <li class="login-info"><a href="/writings/create">Publish</a></li>
                    <li class="login-info"><a href="/user/logout">Logout</a></li>
                </ul>
            </div>
        <% } else { %>
            <div class="logout">
    
            </div>
        <% } %>
        <img class="profile" src="images/profile.jpg" alt="Lester">
        <h1 class="profile-name">Lester Sales</h1>
        <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
            <ul class="pure-menu-list">
                <li class="pure-menu-item one"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item two"><a href="/writings" class="pure-menu-link">Writing</a></li>
                <li class="pure-menu-item three"><a href="/projects" class="pure-menu-link">Projects</a></li>
            </ul>
        </div>
    </div>