<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Lester Sales</title>
</head>

<body>
    <main class="page-content" aria-label="Content">
        <%- include ("./partials/header") %>
        <div class="content">
            <h1>Hello!</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, ipsum. Eum, soluta et dicta
                dignissimos a sed ex saepe in ipsum dolores unde assumenda, aspernatur cupiditate eius maxime
                reiciendis nisi.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente ullam facere corporis architecto
                numquam vitae fuga quisquam veniam explicabo, quibusdam, repudiandae qui eligendi temporibus! Vitae
                impedit earum asperiores nam animi.
            </p>
            <h2>Why do you blog?</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, ipsum. Eum, soluta et dicta
                dignissimos a sed ex saepe in ipsum dolores unde assumenda, aspernatur cupiditate eius maxime
                reiciendis nisi.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente ullam facere corporis architecto
                numquam vitae fuga quisquam veniam explicabo, quibusdam, repudiandae qui eligendi temporibus! Vitae
                impedit earum asperiores nam animi.
            </p>
        </div>
        </div>
    </main>



</body>

</html>