<%- include ("./partials/head") %>
<body>
    <%- include ("./partials/header") %>
    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="titleMain">LESTER SALES</h1>
            <h3>an electronics hobbyist passionate for innovative technology and digital content</h3>
        </div>
        <div class="homeSouth">
            <h4><a class="stealthLink subPmin padX0" href="#">Read More</a></h4>
            <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow-White.png" width="30"/></button>
        </div>
    </div>

    <div class="container-fluid aboutMe" >
        <div class="container aboutMe">
            <div class="row rowPad" >
                <div class="col-md-4">
                    <img src="/images/profile01.jpg" class="circleImg"></img>
                </div>
                <div class="col-md-8">
                    <p class="pad20">Welcome to my website. I am an electronics hobbyist,
                        digital content creator, and a second year computer
                        science student at the University of Guelph. In the
                        past few years I have worked on many independent
                        projects alongside my formal education. My goal is to develop
                        innovative solutions in the multimedia and automation industries through my combined software and hardware experience.
                        I have advanced knowledge in Java and C, experience designing custom electronic circuits/robotics,
                        as well as building this website using responsive web technologies.
                        Additionally, I am a hobbyist filmmaker and photographer, and have been sharing my stories on
                        YouTube since 2012. I created this site to share my interests, as they evolve,
                        and connect with like minded individuals.</p>
                </div>
            </div>
        </div>
    </div>
    <!--<%- messages('messages', locals) %> -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>