<%- include ("./partials/head") %>
<body>
    <%- include ("./partials/header") %>
    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="titleMain">LESTER SALES</h1>
            <h3 class="subH3">I create projects with code and writing.</h3>
        </div>
        <div class="homeSouth">
            <h4><a class="stealthLink subPmin padX0" href="#">Read More</a></h4>
            <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow-White.png" width="30"/></button>
        </div>
    </div>

    <div class="container-fluid aboutMe">
        <div class="container aboutMe">
            <div class="row rowPad" >
                <div class="col-md-4">
                    <img src="/images/profile01.jpg" class="circleImg"></img>
                </div>
                <div class="col-md-8">
                    <p class="pad20">Welcome to my site. I'm Lester, I graduated from <a class="pup" href="https://www.pup.edu.ph/">Polytechnic University of the
                        Philippines</a>  in 2019 with a degree in Computer Engineering. In the
                        past few years I have worked on my personal projects alongside my formal education. My goal is to
                        develop and enhanced my skills in software development. I have a good uderstanding in Software development, experience designing custom electronic
                        circuits/microcontrollers, as well as building this website using responsive web technologies.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid softwareImg">
        <div class="container softwareDiv">
            <h1 class="leftTitle subTitle white" style="padding-top: 0px">SOFTWARE</h1>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">JAVASCRIPT</h3>
                    <h5 class="tileDesc subPmin white">Experience with Object oriented, Functional design and Data structures in Javascript.
                    </h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <!-- <a href="https://github.com/lester2020/ecommerce-web-app"><p style="border-width:0px" id="">E-commerce web-app</p></a> -->
                        </li>
                        <li style="display:inline-block;">
                            <a href="https://github.com/lester2020?tab=repositories"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">NODEJS</h3>
                    <h5 class="tileDesc subPmin white">Experience building server side scripting with ExpressJS and Restful API.</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href=""><p style="border-width:0px" id=""></p></a>
                        </li>
                        <li class="brText"><p></p></li>
                        <li style="display:inline-block;">
                            <a href=""><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">EMBEDDED</h3>
                    <h5 class="tileDesc subPmin white">1 year microcontroller programming and
                        circuit design for Arduino.</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="https://github.com/lester2020/Smart-Egg-Incubator"><p style="border-width:0px">Smart Egg-Incubator(SMEGGI)</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="https://github.com/lester2020?tab=repositories"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">WEB</h3>
                    <h5 class="tileDesc subPmin white">Experience with HTML, CSS, Javascript and bootstrap
                    to create this responsive website</h5>
                </div>
                <a class="btn btn-outline-secondary btn-lg centerBtn" href="/projects" role="button">Learn More</a>
            </div>
        </div>
    </div>

    <div class="container-fluid electronicsBack">
        <div class="container extraSpace">
            <h2 class="centerTitle subTitle padX0 padtop0">ELECTRONICS</h2>
            <div class="row">
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class= "cenX subTitle padX0">SMART EGG-INCUBATOR</h3>
                        <h5 class="electronicDesc subPmin">Using mobile app to monitor the 
                            Humidity and Temperature of an incubator. 
                        </h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">RADIO FREQUENCY</h3>
                        <h5 class="electronicDesc subPmin">Coming soon in future projects!</h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">8-BIT COMPUTER</h3>
                        <h5 class="electronicDesc subPmin">Coming soon in future projects!</h5>
                    </div>
                </div>
                <a class="btn btn-secondary btn-lg centerBtn" href="/projects" role="button">Learn More</a>

            </div>
        </div>
    </div>

    <%- include ("./partials/footer") %>
    <!--<%- messages('messages', locals) %> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/main.js"></script>
</body>

</html>