<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Lester Sales</title>
</head>

<body>
    <main class="page-content" aria-label="Content">
        <%- include ("./partials/header") %>
        <div class="content">
            <h2>Hello!👋</h2>
            <p>
                Welcome to my site. I'm Lester, I graduated from <a href="https://www.pup.edu.ph/">Polytechnic University of the
                Philippines</a>  in 2019 with a degree in Diploma in Computer Engineering Technology. In the
                past few years I have worked on many independent projects alongside my formal education. My goal is to
                develop innovative solutions in Tech industries through my combined software and hardware experience.
                I have advanced knowledge in Python and C, experience designing custom electronic
                circuits/microcontrollers,
                as well as building this website using responsive web technologies.
            </p>

            <h2>Why do you blog?🤷‍♂️</h2>
            <p>
                Mostly for selfish reasons. I needed a way to keep track of software development over time – whatever I
                am thinking about or working on. I research things I find interesting, then document my research with a
                public blog post, which I can easily find and refer to later. Hopefully other people will find these posts helpful, 
                relevant, or interesting. I firmly believe that blogs are a two way conversation, so I welcome email and comments – as long as
                they're on topic, more or less.
            </p>

            <h2>Fun facts📑</h2>
            <ul>
                <li>I love books (books stores drive me crazy)</li>
                <li>My favorite food is pizza🍕</li>
                <li>I love Rockets too!🚀 (I will build my own rocket soon)</li>
                <li>My fav game is League of legends</li>
            </ul>

            <h5>Sign up to receive email updates whenever a new cool stuff is published.</h5>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://lestersales.substack.com/embed" allowfullscreen></iframe>
            </div>

            <h2>Say hi</h2>
            <p>Wanna chat? feel free to reach out!</p>
            <ul>
                <li>You can reach me at: lesters821@gmail.com</li>
                <li>My least favorite social media: <a href="https://twitter.com/@Lester_Sales42">@Lester_Sales42</a></li>
                <li>My favorite social media platform: <a href="https://github.com/lester2020">github.com/lester2020</a></li>
                <li>My linkedin:<a href="https://www.linkedin.com/in/lester-sales/">linkedin.com/in/lester-sales</a></li>
            </ul>
            
        </div>
    </main>

</body>

</html>