<%- include('header'); -%>


<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="writing">Writing</a></li>
        <li><a href="projects">Projects</a></li>
    </ul>
    
</nav>


<%- include('footer'); -%>
