<div id="messages">
    <% Object.keys(messages).forEach(function(type) { %>
    <div class="alert alert-success" + <%- type %> ">
        <% messages[type].forEach(function(message) { %>
            <%- message %>
        <% }) %>
    </div>
    <% }) %>
</div>