@media (max-width: 767px) {
    .btnLinks .bot {
        padding-bottom: 60px;
    }
    .sub {
        letter-spacing: 10px;
    }
    .btnLinks {
        padding-bottom: 0px;
    }
    .extPad, .subP {
        padding-left: 20px;
        padding-right: 20px;
    }
    .subTitle {
        padding-left: 20px;
    }
    .listPad {
        padding-left: 40px;
        padding-right: 0px;
    }
    .listPad li {
        padding-left: 0px;
        padding-right: 0px;
    }
}
