.projects-content{
    max-width: 85%;
    width: auto;
    color: white;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    color: white;
}

.th-title a{
    color: white;
}