html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(61deg, #83e3a3 50%, #e4fdf3 50%);
    min-height: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #fff;
    padding: 10px;
}

.box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
    background-color: #A683E3;
    text-align: center;
}

p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
}

footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}