<%- include ("../partials/head") %>
<body>
    <main class="page-content" aria-label="Content">
        <%- include ("../partials/header") %>
        <div class="content">
            <img id="me404" src="https://media.giphy.com/media/VwoJkTfZAUBSU/giphy.gif" alt="404" srcset="">
        </div>
    </main>
    <br>
    <br><br>
</body>
