<%- include ("../partials/head") %>
<body>
    <main class="page-content" aria-label="Content">
        <!-- <%- include ("../partials/header") %> -->
        <div class="main">
            <h1>Error 404</h1>
            <p>Oh sh*t! sorry the page your are looking for is not available. <a href="/">Return home</a></p>
        </div>
    </main>
    <br>
    <br><br>
</body>
